@font-face {
    font-family: "Chopin";
    src: url("../fonts/chopinscript-webfont.woff") format("woff");
}
@font-face {
    font-family: "Josefin";
    src: url("../fonts/josefinsans-regular-webfont.woff") format("woff");
}
@keyframes fadein{
    100%{
        opacity: 1;
    }
    }
html{
    scroll-behavior: smooth;
}
body{
    opacity: 0;
    animation: fadein 1s 0.5s forwards;
    margin:0;
    padding: 0;
    background-image: url(../images/vintagepaper1.jpg);
}
.header {
    margin:0;
    height:  20%;
    background-image: url(../images/vintagepaper.jpg);
}
.header h2 {
    font-family: "Chopin";
    text-align: center;
    font-size: 5vw;
    margin-bottom: 0;
    margin-top: 0;
}
.header p {
    font-family: "Chopin";
    text-align: center;
    font-size:30;
    margin-top: 0;
}
.intro{
    display: flex;
}
.intro img {
    width: 30%;
    height: 30%;
    margin-left: 100;
    margin-top: 100;

}
.intro p {
    margin-top: 13%;
    padding-left: 50px;
    margin-right: 50;
    text-align: justify;
    text-indent: 50;
    font-family: "Josefin";
    font-size: 20;
}
.nav {
    margin-top: 0;
    padding: 0;
    display: inline-block;
}
.nav ul {
    margin:0;
    padding:0;
}
.nav ul li {
    display: inline;
    list-style-type: none;
    margin-right: 15;
}
.nav a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 120%
}
.nav a:hover {
    background-image: url(../images/vintagepaper1.jpg);
    padding: 10;
    font-size: 130%;
}
#quote {
    font-family: Chopin;
    text-align: center;
    font-size: 300%;
    margin-top: 50;
    margin-bottom:0
}
#author {
    margin-top: 0;
    font-family: Josefin;
    text-align: center;
    font-size: 300%;
}
.line {
    border: 0.1px solid black;
}
.jr {
    display: flex;
    padding-bottom: 100px;
}
.jr img{
    width: 30%;
    height: 30%;
    margin-left: 100;
    margin-top: 100;
}
.jr p {

    text-align: justify;
    text-indent: 50;
    font-family: "Josefin";
    font-size: 20;
    margin-top: 10%;
    padding-left: 50px;
    margin-right: 50;
}